* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.loginWrapper {
  width: 600px;
  background-color: #f8f4ea;
  padding: 40px;
}
.loginHeader {
  display: flex;
  justify-content: space-between;
}

.login {
  font-weight: 700;
}
.back {
  font-size: 0.8rem;
  font-size: 700;
  cursor: pointer;
}
.back:hover {
  font-size: 0.9rem;
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}
.loginForm input {
  margin: 10px 0;
  padding: 6px;
  outline: none;
  font-size: 1.1rem;
}
.btns {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 20px;
}
.btns button {
  outline: none;
  border: none;
  background-color: #579bb1;
  padding: 10px;
  color: #f8f4ea;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .loginWrapper {
    width: 90%;
  }
}
@media only screen and (max-width: 450px) {
    .loginWrapper {
    padding: 25px 15px;
  }
}
