.adminContainer {
  width: 100%;
  min-height: 100vh;
}
.adminWrapper {
  width: 80%;
  background-color: rgb(14, 16, 55);
  color: white;
  margin: auto;
  min-height: 100vh;
  display: flex;
}
.sideNavContainer {
  /* width: 200px; */
  background-color: rgb(1, 2, 29);
  padding: 80px 10px 20px 10px;
}
.create {
  background-color: transparent;
  color: rgb(223, 138, 47);
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  border: 0.6px solid rgb(240, 248, 255);
}
.create:hover {
  background-color: aliceblue;
  border: none;
}
.navItems {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.navItems h2 {
  font-size: 1.5rem;
  line-height: 2;
}
.navItems span {
  padding-left: 15px;
  font-size: 0.9rem;
  color: rgb(219, 218, 218);
  cursor: pointer;
}
.navItems span:hover {
  background-color: rgb(14, 16, 55);
  padding: 15px 10px;
  color: rgb(223, 138, 47);
}
.signout {
  display: flex;
  gap: 10px;
  align-items: baseline;
  margin-top: 90px;
}

.signout .text {
  font-size: 1.2rem;
}
.signoutIcon {
  color: rgb(197, 193, 193);
}
.statsWrapper {
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  text-align: center;
 
}
.transit,
.delivered,
.created {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(1, 2, 29, 0.6);
  padding: 20px;
  width: 200px;
}
.statsWrapper .stat {
  font-weight: 700;
  font-size: 1.8rem;
}
.statsWrapper .smalltext{
    font-size: .8rem;
    color: gray;
}
.statsWrapper .title{
    font-size: 1.2rem;
    text-transform: capitalize;
}
.ellipsis{
    display: none;
}
.ellipsis:hover{
    display: block;
}
.adminTable tr:nth-child(even) {
  background-color: rgba(111, 109, 109, .2);
}
.error{
  text-align: center;
  margin: 90px 0;
}