.tableContainer {
  width: 80%;
  margin: 50px auto;
}
.tableContainer span {
  display: flex;
  justify-content: flex-end;
}
.searchInput input {
  padding: 10px;
  outline: none;
  font-size: 1.2rem;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0 40px;
}
th {
  background-color: rgb(14, 16, 55);
  color: white;
}
th,
td {
  text-align: center;
  padding: 10px;
  text-transform: capitalize;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
